psutil
requests
PyYAML
ollama
langchain
langgraph
crewai
#python-nmap
scapy
dnspython
python-whois
paramiko
cryptography
Pillow
matplotlib
seaborn
reportlab
Markdown
WeasyPrint
beautifulsoup4
selenium
requests-cache
pyfiglet
colorama
